body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa; /* Change background color */
    margin: 0;
    color: #333;
}

.image-container {
    width: 150px; /* Set the width for the profile picture */
    height: 150px; /* Set the height for the profile picture */
    overflow: hidden; /* Hide the overflow */
    border-radius: 50%; /* Make it a circle */
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This will crop the image */
    object-position: center; /* Center the image */
}

.text-box {
    flex-grow:1; /* Allow the text box to grow */
    text-align: left;
    margin-left: 50px; /* Add margin between image and text */
}

.chat-box {
    max-height: 400px;
    overflow-y: auto;
}

.footer {
    background-color: #007bff;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 20px;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

footer a:hover {
    text-decoration: underline;
    color: #ff0;
}
