body {
    font-family: Arial, sans-serif;
    background-color: #2edbf2; /* Change background color */
    margin: 0;
    color: #333;
}

.navbar {
    background-color: #007bff;
    padding: 15px 0;
}

.navbar .container {
    display: flex;
    justify-content: center;
}

.navbar-brand {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 15px;
}

.intro {
    text-align: center;
    margin-bottom: 20px;
}

.chat-container {
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 20px;
}

.chat-box {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    background-color: #f9f9f9;
}

.chat-message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    max-width: 70%;
    word-wrap: break-word;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

.chat-message.user {
    background-color: #007bff;
    color: #fff;
    align-self: flex-end;
}

.chat-message.bot {
    background-color: #e1e1e1;
    color: #000;
    align-self: flex-start;
}

.input-container {
    display: flex;
}

#user-input {
    flex: 1;
    padding: 15px;
    border: none;
    border-radius: 0 0 0 10px;
    outline: none;
}

#send-button {
    padding: 15px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 0 0 10px 0;
    transition: background-color 0.3s;
}

#send-button:hover {
    background-color: #0056b3;
}

.profile {
    text-align: center;
}

.resume {
    display: inline-block;
    text-align: center;
    margin-top: 20px;
}

.image-container {
    width: 150px; /* Set the width for the profile picture */
    height: 150px; /* Set the height for the profile picture */
    overflow: hidden; /* Hide the overflow */
    border-radius: 50%; /* Make it a circle */
    margin: 0 auto 20px; /* Center the image and add bottom margin */
}

.image-container img {
    width: 5%;
    height: 5%;
    object-fit: cover; /* This will crop the image */
    object-position: center; /* Center the image */
}

.projects {
    text-align: center;
}

.project-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 15px 0;
    overflow: hidden;
}

.project-card img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
